<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<filter>
    <filter-name>StaticResourcesFilter</filter-name>
    <filter-class>com.itcag.demo.servlet.StaticResourcesFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>StaticResourcesFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping> 
    <servlet>
        <servlet-name>Initiator</servlet-name>
        <servlet-class>com.itcag.demo.servlet.Initiator</servlet-class>
    </servlet>
    <!-- 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping> 
    -->  
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.itcag.demo.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet>
        <servlet-name>Examples</servlet-name>
        <servlet-class>com.itcag.demo.servlet.Examples</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Examples</servlet-name>
        <url-pattern>/Examples</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet>
        <servlet-name>ProcessDocumentInput</servlet-name>
        <servlet-class>com.itcag.demo.servlet.ProcessDocumentInput</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessDocumentInput</servlet-name>
        <url-pattern>/ProcessDocumentInput</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet>
        <servlet-name>ProcessDocumentOutput</servlet-name>
        <servlet-class>com.itcag.demo.servlet.ProcessDocumentOutput</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessDocumentOutput</servlet-name>
        <url-pattern>/ProcessDocumentOutput</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet>
        <servlet-name>EditSentencesClassification</servlet-name>
        <servlet-class>com.itcag.demo.servlet.EditSentencesClassification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditSentencesClassification</servlet-name>
        <url-pattern>/EditSentencesClassification</url-pattern>
    </servlet-mapping>
    <!-- -->
    <servlet>
        <servlet-name>SentencesClassification</servlet-name>
        <servlet-class>com.itcag.demo.servlet.SentencesClassification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SentencesClassification</servlet-name>
        <url-pattern>/SentencesClassification</url-pattern>
    </servlet-mapping>
    <!-- -->        
    <servlet>
        <servlet-name>RejectClassification</servlet-name>
        <servlet-class>com.itcag.demo.servlet.RejectClassification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RejectClassification</servlet-name>
        <url-pattern>/RejectClassification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
